@model WebExplorer.Models.ExplorerViewModel
@{
    ViewBag.Title = "Home Page";
}

<p>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Web Explorer</h4>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th class="text-center">Date modified</th>
                            <th class="text-center">Size</th>
                            <th class="text-center">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </th>
                            <th class="text-center">
                                <span class="glyphicon glyphicon-floppy-remove"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td width="20">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </td>
                                <td width="70%">
                                    <a class="text-primary" href="@item.Url">@item.Name</a>
                                </td>
                                <td class="text-center" width="15%">
                                    @item.ModifiedDate
                                </td>
                                <td class="text-center" width="10%">
                                    @item.Size
                                </td>
                                <td class="text-center" width="5%">
                                    <a class="label label-info" data-toggle="modal" id="deleteComment" href="#confirmDeleteComment" data-id="@item.Path" data-url="/Home/DeleteComment">Info</a>
                                </td>
                                <td class="text-center" width="5%">
                                    <a class="label label-danger" data-toggle="modal" id="deleteComment" href="#confirmDeleteComment" data-id="@item.Path" data-url="/Home/DeleteComment">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</p>

<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete comment</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "confirmDeleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("itemId");
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        //modal comment delete confirm 
        $(document).on("click", "#deleteComment", function () {
            var id = $(this).data('id');//select id to delete
            var url = $(this).data('url');//select action url
            $(".modal-footer #itemId").val(id);
            $(".modal-footer #confirmDeleteForm").attr('action', url);
            $('#confirmDelete').modal('show');
        });
    </script>
}